<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal_socials">
  <description>PHP CodeSniffer configuration for Socials module.</description>
  
  <file>.</file>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>
  <arg name="report" value="full"/>
  <arg value="p"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>

  <!-- Exclude certain directories -->
  <exclude-pattern>vendor/*</exclude-pattern>
  <exclude-pattern>node_modules/*</exclude-pattern>
  <exclude-pattern>drupal/*</exclude-pattern>
</ruleset>